<template>
  <div class="folio-container" id="Folio">
    <div class="container">
      <div class="folio-left">
         Si aun no tienes tu tarjeta obten una tarjeta digital aquí<br>
         <img src="/assets/imgs/tarjeta.png"/>
      </div>
      <div class="folio-right">
        <div class="folio-content">
          <form action="" method="get">
          <ul>
            <li class="titulo-folio">
              SOLICITA TU FOLIO
            </li>
            <li>
              <input name="" type="text" placeholder="Nombre Completo" />
            </li>
            <li>
              <input name="" type="text" placeholder="Correo" />
            </li>
            <li>
              <input name="" type="text" placeholder="Teléfono" />
            </li>
            <li class="disclaimer">
              Al enviar este formulario estás aceptando nuestros<br>
              <a href="">Términos, condiciones y aviso de privacidad.</a>
            </li>
            <li class="btn-send">
              <input name="" type="submit" value="Obtener" />
            </li>
          </ul>
          </form>
        </div>
      </div>
    </div>
    <div class="folio-footer">
      <div class="container">
        Copia tu folio o toma una captura de pantalla para redimirlo en sucursal
      </div>
    </div>
  </div>
</template>

<script>

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
$break-small: 520px;
$break-medium: 960px;
.btn-send {
  input {
    background: #2C3D90 !important;
    border: 0 !important;
    color: #fff !important;
  }
}
.disclaimer {
  margin: 10px 0;
  font-weight: 800;
  font-size: 16px;
  color: #4A4A4A;
  a {
    color: #2C3D90;

  }
}
.titulo-folio {
  font-size: 24px;
  color:#2D5291;
  font-weight: 800;
}
.folio-content {
  background: #fff;
  padding: 24px 30px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0,0,0,.5);
  margin-bottom: 30px;
  @media screen and (max-width: $break-medium) {
    margin-left: 20px;
  }
  @media screen and (max-width: $break-small) {
    margin-left: 0;
  }
}
.folio-footer {
  background: rgba(251, 161, 29, 0.3);
  padding: 18px;
  color: #000;
  text-align: center;
  font-weight: 800;
  font-size: 26px;
  @media screen and (max-width: $break-small) {
    padding: 10px 24px;
    font-size: 16px;
  }

}
.folio-right {
  width: 30%;
  display: inline-block;
  vertical-align: top;
  @media screen and (max-width: $break-medium) {
    width: 40%;
  }
  @media screen and (max-width: $break-small) {
    width: 100%;
  }
  ul{
    margin: 0;
    padding: 0;
    li{
      list-style: none;
      padding: 8px 0;
      text-align: center;
      input {
        font-size: 16px;
        font-weight: 800;
        background: #F2F2F2;
        border: 1px solid #2C3D90;
        border-radius: 6px;
        padding: 10px;
        width: -webkit-fill-available;
        color: #2C3D90;
      }
    }
  }
}
.folio-left {
  text-align: center;
  font-size: 44px;
  font-weight: 800;
  color: #2D5291;
  width: 70%;
  display: inline-block;
  vertical-align: top;
  @media screen and (max-width: $break-medium) {
    width: 60%;
    font-size: 34px;
    img {
      width: 100%;
    }
  }
  @media screen and (max-width: $break-small) {
    width: 100%;
    font-size: 24px;
    img {
      width:70%;
    }
  }

}
.folio-container {
  background: url(/assets/imgs/back_folio.jpg) left top no-repeat;
  background-size: cover;
  margin: 80px 0;
  padding: 40px 0 0;
  @media screen and (max-width: $break-small) {
    margin: 40px 0;
  }
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
.clearfix{
  clear: both;
}

</style>
