<template>
  <div class="footer">
    <div class="container text-center">
      <img src="/assets/imgs/banco_azteca_logo_white.svg"/><br>
      Banco Azteca S.A.,Institución Banca Multiple. Derechos reservados,2020
    </div>
  </div>
</template>

<script>

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
$break-small: 520px;
$break-medium: 702px;
.footer {
  color: #fff;
  background: #2D5291;
  padding: 30px 0;
  font-size: 12px;
  img {
    margin-bottom: 10px;
  }
}
.text-center {
  text-align: center;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
.clearfix{
  clear: both;
}
</style>
