<template>
  <div class="header-lp">
    <div class="blue-bar">
    </div>
    <div class="menu-bar">
      <div class="container">
        <div class="logo-container">
            <a href="/"><img src="/assets/imgs/logo_prestaprenda.svg" alt="Presta Prenda"/></a>
        </div>
        <div class="menu-container">
          <ul>
           <li>
            <a href="#Folio">Solicita tu Folio</a>
            </li>
            <li>
              <a href="#Valuador">Valuador</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="banner">
      <img src="/assets/imgs/banner.jpg" alt="Más de 25mil regalos en efectivo"/>
    </div>
  </div>
</template>

<script>

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
$break-small: 520px;
$break-medium: 702px;



.menu-bar {
  padding: 4px 0;
} 
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
.blue-bar {
  background:#2D5291;
  width: 100%;
  height: 30px;
}
.banner {
  margin-bottom: 40px;
  img {
    width: 100%;
    height: auto;
  }
}
.logo-container {
  float: left;
  width: 40%;
}
.clearfix{
  clear: both;
}
.menu-container {
  width:60%;
  float: left;
  @media screen and (max-width: $break-medium) {
    text-align: right;
  }
  ul{
    padding: 19px 0 0 0;
    margin: 0;
      li{
        display: inline-block;
        list-style: none;
        padding: 0 14px;
        font-size: 14px;
        letter-spacing:  .4px;
        a {
          color:#272727;
          text-decoration:  none;
        }
      }
  }
}
</style>
