<template>
  <div class="header-lp">
    <div class="container">
        <div class="title">
          MECÁNICA
        </div>
        <div class="mecanica-item">
          <img src="/assets/imgs/mecanica-1.svg" alt="Ven a tu Presta Prenda más cercano con tus prendas de oro."/>
          <div class="item-txt">Ven a tu Presta Prenda más cercano con tus prendas de oro.</div>
        </div>
        <div class="mecanica-item">
          <img src="/assets/imgs/mecanica-2.svg" alt="Acércate a tu valuador y elige el crédito que más te conviene."/>
          <div class="item-txt">Acércate a tu valuador y elige el crédito que más te conviene.</div>
        </div>
        <div class="mecanica-item">
          <img src="/assets/imgs/mecanica-3.svg" alt="¡Tu ticket puede venir con un regalo en efectivo!"/>
          <div class="item-txt">¡Tu ticket puede venir con un regalo en efectivo!</div>
        </div>
        <div class="banner">
            <img src="/assets/imgs/banner_ganadores.svg" alt="¡Tú puedes ser uno de los 25,000 ganadores!"/>
        </div>
    </div>
    <div class="canjea-banner">
      <a href=""><img src="/assets/imgs/banner_canjea.jpg" alt="Canjea tu tarjeta de regalo de $100" /></a>
    </div>
    <div class="container">
      <div class="canjea-item">
        <img src="/assets/imgs/canjea.svg"/>CANJÉALA EN TU SUCURSAL MÁS CERCANA DE PRESTA PRENDA CON TU VALUADOR
      </div>
      <div class="tarjeta-item">
        SI NO CUENTAS CON ESTA TARJETA, ¡CONSIGUE TU TARJETA DIGITAL AHORA!<img src="/assets/imgs/tarjeta.svg"/>
      </div>
      <div class="clearfix">
      </div>
    </div>
  </div>
</template>

<script>

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
$break-small: 520px;
$break-medium: 740px;

.tarjeta-item {
  width: 63%;
  display: block;
  background: #D8D8D8;
  border-radius: 99999999px;
  color: #235497;
  padding: 20px 190px 20px 20px;
  text-align: center;
  font-weight: 800;
  font-size: 24px;
  margin-left: 6%;
  margin-top: 40px;
  position: relative;
  float: right;
  margin-right: 50px;
  @media screen and (max-width: $break-medium) {
    padding: 20px 140px 20px 20px;
    font-size: 20px;
  }
  @media screen and (max-width: $break-small) {
    margin-right: 0;
    padding: 20px 130px 20px 20px;
    font-size: 16px;
  }
  img {
   position: absolute;
   display: block;
   right: -20px;
   top: -40px;
   @media screen and (max-width: $break-medium) {
    right: -20px;
    top: -33px;
    width: 158px;
   }
   @media screen and (max-width: $break-small) {
    right: -13px;
    top: -12px;
    width: 130px;
   }

  }
}
.canjea-item {
  width: 90%;
  display: block;
  background: #FBA11D;
  border-radius: 99999999px;
  color: #fff;
  padding: 20px 20px 20px 0;
  text-align: center;
  font-weight: 800;
  font-size: 24px;
  margin-left: 20px;
  @media screen and (max-width: $break-medium) {
    font-size: 20px;
  }
  @media screen and (max-width: $break-small) {
    font-size: 16px;
  }
  img {
    float: left;
    margin-top: -60px;
    margin-left: -20px;
    @media screen and (max-width: $break-medium) {
      margin-top: -54px;
      margin-left: -15px;
      width: 158px;
    } 
    @media screen and (max-width: $break-small) {
      float: left;
      margin-top: -34px;
      margin-left: -16px;
      width: 130px;
    }
    }
  }
.banner {
  img {
    width: 100%;
    margin: 30px 0;
  }
}
.canjea-banner {
  img {
    width: 100%;
    margin-bottom: 80px;
    @media screen and (max-width: $break-small) {
      margin-bottom: 40px;
    }
  }
}
.mecanica-item {
  width: 33.3333%;
  display: inline-block;
  margin-bottom: 20px;
  vertical-align: top;
  @media screen and (max-width: $break-small) {
    width: 100%;
  }
    img {
      display: block;
      margin: 0 auto 10px;
      width: 80%;
      @media screen and (max-width: $break-small) {
        width: 34%;
      }
    }
    .item-txt {
      text-align: center;
      font-size: 22px;
      font-weight: 800;
      color: #2D5291;
      display: block;
      padding: 0 25px;
      @media screen and (max-width: $break-medium) {
        font-size: 18px;
      }
      @media screen and (max-width: $break-small) {
        font-size: 18px;
        padding: 0 65px;
      }
    }
}
.title {
  color: #054185;
  font-size: 48px;
  font-weight: 800;
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 30px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.clearfix{
  clear: both;
}

</style>
