<template>
  <div class="valuador-container" id="Valuador">
    <div class="banner-pago">
      <div class="container">
       <img src="/assets/imgs/puedes_pagar.svg"  alt="Ahora también puedes pagar en: Cheraui y Telégrafos Telecomm."/>
     </div>
    </div>
    <div class="valuador-content">
      <div class="container">
        <div class="title-valuador">
          DESCUBRE CUÁNTO PUEDES RECIBIR POR TUS PRENDAS
        </div>
        <div class="valuador-item">
          <span class="number-circle">1</span>Kilates<br>
          <a href="">
            <div class="less">
              -
            </div>
          </a>
          <div class="number-valuador">
            10
          </div>
          <a href="">
            <div class="more">
              +
            </div>
          </a>
        </div>
        <div class="valuador-sep"></div>
        <div class="valuador-item">
          <span class="number-circle">2</span>Peso en gramos<br>
          <a href="">
            <div class="less">
              -
            </div>
          </a>
          <div class="number-valuador">
            10
          </div>
          <a href="">
            <div class="more">
              +
            </div>
          </a>
        </div>
        <div class="valuador-sep"></div>
        <div class="valuador-item valuador-result">
          <span class="number-circle">3</span>Te prestamos aproximadamente:<br>
          <div class="result">
            $8,970 pesos
          </div>
        </div>
        <div class="valuador-disclaimer">
          *El precio es un estimado, puede variar.  |  * Esta cantidad será validada en tu sucursal Presta Prenda.  |  *Servicio de valuación proporcionado por un tercero y de acuerdo a las políticas de valuación vigentes.
        </div>
      </div>
    </div>
  </div>
</template>

<script>

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
$break-small: 660px;
$break-medium: 971px;
.valuador-sep {
  display: inline-block;
  width: 8%;
}
.valuador-disclaimer {
  font-size: 12px;
  color: #2B5291;
  font-weight: 800;
  margin: 20px 0 60px;
  text-align: center;
}
.valuador-item {
  color: #F79C3C;
  font-size: 20px;
  font-weight: 800;
  vertical-align: top;
  width:20%;
  display: inline-block;
  margin-bottom: 20px;
  @media screen and (max-width: $break-medium) {
    width: 40%;
  }
  @media screen and (max-width: $break-small) {
    width: 100%;
  }
  .less {
    background: #2B5291;
    display: inline-block;
    width: 14%;
    text-align: center;
    color: #fff;
    font-weight: 800;
    font-size: 34px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  .more {
    background: #2B5291;
    display: inline-block;
    width: 14%;
    text-align: center;
    color: #fff;
    font-weight: 800;
    font-size: 34px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .number-valuador {
    background: #F8F8F8;
    display: inline-block;
    height: 32px;
    border-top: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    width: 72%;
    vertical-align: top;
    text-align: center;
    color: #272727;
    font-weight: 800;
    font-size: 23px;
    padding-top: 6px;
  }
  .number-circle{
    background: #F79C3C;
    color: #fff;
    border-radius: 99999px;
    width: 31px;
    display: inline-block;
    text-align: center;
    padding: 5px 0;
    font-weight: 800;
    font-size: 18px;
    margin-right: 12px;
    margin-bottom: 20px;
  }
  
}
.valuador-result {
  width: 44%;
  @media screen and (max-width: $break-medium) {
    width: 100%;
  }
  @media screen and (max-width: $break-small) {
    width: 100%;
  }
  .result {
    width: 100%;
    background: #F8F8F8;
    text-align: center;
    border: 1px solid #2B5291;
    color: #272727;
    font-weight: 800;
    font-size: 23px;
    padding: 5px 0;
  }
}
.title-valuador {
  width: 100%;
  display: block;
  text-align: center;
  color:#2D5291;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 40px;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.clearfix{
  clear: both;
}
.banner-pago {
  background: #F0F0F0;
  padding: 30px 0;
  margin-bottom: 20px;
  @media screen and (max-width: $break-small) {
    margin-bottom: 10px;
  }
  img {
    width: 100%;
  }
}

</style>
