<template>
  <div id="app">
    <Header/>
    <Mecanica/>
    <Folio/>
    <Valuador/>
    <Footer/>
  </div>
</template>

<script>
import Header from './components/Header.vue'
import Mecanica from './components/Mecanica.vue'
import Folio from './components/Folio.vue'
import Valuador from './components/Valuador.vue'
import Footer from './components/Footer.vue'

export default {
  name: 'app',
  components: {
    Header,
    Mecanica,
    Folio,
    Valuador,
    Footer
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Roboto:500,700&display=swap');
body {
  margin: 0;
  padding:  0;

}
#app {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding:  0;
}
</style>
